* {
    margin: 0;
    padding: 0;
} 

.nav-font {
    font-family: 'Lobster', cursive;
    font-size: 25pt;
}

h1{
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    
}

h5{
    font-family: 'Cabin', sans-serif;
    font-size: 20px; 
}

.col-6{
    font-family: 'Cabin regular' 400, sans-serif;
    font-size: 20px;
}

#suscribete {
    background-color: #DC3545;
    height: 50vh;
}
h4{
   font-size: 20px; 
}







